@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
}
ul::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: #666;
    color: #fff;
}
    .header_in {
        position: relative;
        width: 1240px;
        height: 100px;
        margin: auto;
    }
    h1 {
        float: left;
        font-size: 28px;
        line-height: 100px;
        margin-left: 15px;
    }

    nav {
        position: absolute;
        left: 50%;
        margin-left: -300px;
        width: 600px;
    }
    nav ul {}
    nav li {
        float: left;
    }
    nav a {
        display: block;
        line-height: 100px;
        margin: 0 15px;
        font-size: 18px;
    }

    nav button {
        display: none;
    }

    .allBtn {
        display: none;
        margin-left: 15px;
    }
    .sign {
        float: right;
        line-height: 100px;
        margin-right: 15px;
    }


#visual {
    width: 1240px;
    height: 500px;
    margin: auto;
    background-color: #aaaaaa;
}    

#contents {
    width: 1240px;
    margin: auto;
    overflow: hidden;
}
#contents > div {
    width: 25%;
    height: 300px;
    float: left;
}
    .con1 { background-color: lightcoral; }
    .con2 { background-color: lightgoldenrodyellow; }
    .con3 { background-color: mediumaquamarine; }
    .con4 { background-color: mediumpurple; }

footer {
    background-color: #aaaaaa;
}
    .footer_in {
        width: 1240px;
        margin: auto;
        text-align: right;
        padding: 20px;
    }

/* 1240px보다 작을때 */
@media (max-width: 1240px) {
    .header_in {
        width: 100%;
    }

    #visual {
        width: 100%;
        height: 400px;
    }
    #contents {
        width: 100%;
    }
    #contents > div {
        width: 50%;
    }
    .footer_in {
        width: 100%;
    }
}
/* 960px보다 작을때 */
@media (max-width: 960px) {

    h1 {
        font-size: 22px;
    }

    nav {
        margin-left: -200px;
        width: 500px
    }
    nav a {
        margin: 0 10px;
        font-size: 15px;
    }
    .sign span {
        display: none;
    }
}

/* 720px보다 작을때 */
@media (max-width: 720px) {
    .header_in {
        height: 50px;
        position: static;
    }
    h1 {
        margin: 0;
        float: none;
        line-height: 50px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    nav {
        left: -100%;
        top: 0;
        bottom: 0;
        margin-left: 0px;
        width: 300px;
        background-color: #fff;
        padding: 50px 0 0 20px;
    }
    nav li {
        float: none;
    }
    nav a {
        display: block;
        line-height: 40px;
        margin: 0;
        font-size: 15px;
        color: #111;
    }

    nav button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .allBtn {
        display: block;
        float: left;
        line-height: 50px;
    }
    .sign {
        line-height: 50px;
    }
    #contents > div {
        width: 100%;
        height: 200px;
    }
    .footer_in {
        text-align: center;
    }
}
